* {
  margin: 0;
  padding: 0;
  font-family: 'Cormorant SC', serif;
}
.logo-img {
  width: 10rem;
  height: auto;
  display: block;
  margin: 0 auto;
  border-block-end: 0.1rem solid #7f0f0f;
}
.line-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1rem 0;
}
.menu-btn {
  text-decoration: none;
  cursor: pointer;
}
.list {
  list-style: none;
}
.big {
  display: none;
}
.material-symbols-outlined {
  color: rgb(201, 201, 201);
}
.about-icon {
  color: #7f0f0f;
}
.subtitle {
  text-align: center;
  padding-block: 1rem;
}
.about-text {
  font-family: 'Ibarra Real Nova', serif;
  text-align: center;
  width: 80%;
  border-block-end: 0.1rem solid #7f0f0f;
}
.about-img {
  text-align: center;
}
.img-about {
  width: 60%;
  height: auto;
  border-radius: 0.4rem;
}
.about-flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.all-about-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
  margin-block-end: 1rem;
}
.contact-btn {
  text-decoration: none;
  text-align: center;
  display: block;
  width: 8rem;
  margin: 0 auto;
  padding: 0.6rem 1rem 0.6rem 1rem;
  border-radius: 0.2rem;
  background-color: #7f0f0f;
  color: rgb(223, 211, 211);
  cursor: pointer;
  transition: 0.2s;
}
.contact-btn:hover {
  background-color: rgb(223, 211, 211);
  color: #7f0f0f;
  font-weight: bold;
}
.social-list {
  border-block-end: 0.1rem solid #7f0f0f;
  background-color: rgb(223, 211, 211);
  padding: 1.4rem 0 1rem 0;
  margin-block-start: 1rem;
}
.copyright {
  align-self: flex-end;
  font-size: 0.8rem;
}
footer {
  display: flex;
  padding-block: 1rem;
  justify-content: space-around;
}
.footer-btn {
  color: #000;
  text-decoration: none;
}
@media (min-width: 576px) {
  .logo-img{
   width: 12rem; 
  }
 .big {
  display: initial;
  font-size: 1.2rem;
 }
 .menu-btn {
  color: #000;
 }
 .about-text {
  padding-block: 1rem;
 }
 /* .about-flex {
  flex-direction: row;
  justify-content: space-around;
 } */
 .about {
  color: #7f0f0f;
 }
 .small {
  display: none;
 }
 .copyright {
  font-size: 1rem;
 }
}
@media (min-width: 768px) {
  .menu-btn {
    transition: 0.3s;
  }
  .menu-btn:hover {
    color: #7f0f0f;
  }
  .footer-btn {
    font-size: 1.2rem;
  }
  .copyright {
    font-size: 1.2rem;
  }
  .contact-btn {
    margin-block: 2rem;
    width: 12rem;
    padding: 0.6rem 0.8rem 0.6rem 0.8rem;
    font-size: 1.4rem;
    font-weight: bold;
  }
}
@media (min-width: 992px) {
  .logo-img {
    width: 16rem;
  }
  .logo-img {
    transition: 0.3s;
  }
  .logo-img:hover {
    transform: scale(110%);
    border: none;
  }
  .menu-btn {
    font-size: 1.8rem;
  }
  .subtitle {
    font-size: 2.2rem;
    padding-block: 1.4rem;
  }
  .icon {
    width: 2rem;
    height: 2rem;
    transition: 0.3s;
  }
  .icon:hover {
    transform: scale(120%);
  }
  .all-about-img {
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }
  .img-about {
    width: 30%;
    transition: 0.2s;
  }
  .img-about:hover {
    transform: scale(103%);
    box-shadow: 0 0 0.4rem;
  }
  .contact-btn {
    margin-block: 2rem;
    width: 14rem;
    padding: 0.6rem 0.8rem 0.6rem 0.8rem;
    font-size: 1.6rem;
    font-weight: bold;
  }
  .footer-btn {
    font-size: 1.6rem;
  }
  .copyright {
    font-size: 1.6rem;
  }
  footer {
    padding-block: 2.4rem;
  }
}