:root {
  --main-bg-color: linear-gradient(180deg, #000000 40.02%, #588a77 100%);
  --color1: #d7d9d7;
  --color2: #588a77;
  --color3: #588a77;
  --color4: #283f35;
  --title: 2rem;
}
.nav {
  padding-block-start: 0.1rem;
}
