body {
  background-image: url("background.jpeg");
  background-size: cover;
  background-position: center;
}
#header {
  height: 400px;
  aspect-ratio: auto 1080 / 600;
  width: 95%;
  display: block;
  margin-block-start: 0.5rem;
  margin-inline-start: 2rem;
  margin-inline-end: 2rem;
}
#page19195-band223939 {
  margin-inline-start: 2rem;
  margin-inline-end: 2rem;
  background-color: #103d50;
}
.scroll-tray {
  height: 100%;
  white-space: nowrap;
}

.scroll-tray div {
  display: inline-block;
}

.scroll-tray img {
  border-radius: 0.3rem;
  margin: 0px 1px;
  padding: 0;
}
.max-section-hero-dbl-scroll {
  overflow-x: hidden;
}

.max-section-hero-dbl-scroll img.img-fluid {
  margin-top: 3rem;
  max-width: 300px;
}

.max-section-hero-dbl-scroll h1 {
  font-size: 1.6em;
  margin: 20px auto;
  max-width: 600px;
}

.max-section-hero-dbl-scroll p {
  margin: 20px auto 15px;
}

.max-section-hero-dbl-scroll a.btn-lg {
  padding: 0.55em 2em 0.5em !important;
}

.max-section-hero-dbl-scroll a.btn-lg:hover {
  background-color: #fff;
  color: #b535f6;
}

.max-section-hero-dbl-scroll .rich-text:not(.w-100) {
  align-self: flex-start !important;
}

.max-section-hero-dbl-scroll .scroll-tray:first-child {
  animation: scroll-tray-hero 180s linear infinite;
}

.max-section-hero-dbl-scroll .scroll-tray:last-child {
  animation: scroll-tray-hero 120s linear infinite;
}

.max-section-hero-dbl-scroll .scroll-tray img {
  width: 340px;
}

@keyframes scroll-tray-hero {
  0% {
    transform: translateX(0);
  }

  99.99% {
    transform: translateX(-7098px);
  }

  100% {
    transform: translateX(0);
  }
}

@media (max-width: 767px) {
  .max-section-hero-dbl-scroll .row {
    min-height: auto !important;
  }

  .max-section-hero-dbl-scroll h1 {
    font-size: 1.3em;
    margin: 30px 15px 15px;
  }

  .max-section-hero-dbl-scroll .scroll-tray:first-child {
    animation: scroll-tray-hero 100s linear infinite;
  }

  .max-section-hero-dbl-scroll .scroll-tray:last-child {
    animation: scroll-tray-hero 70s linear infinite;
  }

  .max-section-hero-dbl-scroll .scroll-tray img {
    width: 200px;
  }

  @keyframes scroll-tray-hero {
    0% {
      transform: translateX(0);
    }

    99.99% {
      transform: translateX(-2790px);
    }

    100% {
      transform: translateX(0);
    }
  }
}
.menu {
  margin-left: 2rem;
  margin-right: 2rem;
  background: #103d50;
  text-align: center;
  box-sizing: border-box;
  border-block: 3px solid white;
}
.menu ul {
  display: inline-flex;
  list-style: none;
  color: #fff;
}
.menu ul li {
  width: 120px;
  margin-inline: 5px;
  padding-inline: 15px;
}
.menu ul li a {
  font-family: fantasy;
  text-decoration: none;
  color: white;
}
.home,
.menu ul li :hover {
  background: #22799e;
  border-radius: 1px;
}
.sub-menu-1 {
  display: none;
}
.menu ul li:hover .sub-menu-1 {
  display: block;
  position: absolute;
  background: #22799e;
  margin-top: 15px;
  margin-left: 15px;
}
.menu ul li:hover .sub-menu-1 ul {
  display: block;
  margin: 10px;
}
.menu ul li:hover .sub-menu-1 ul li {
  width: 100px;
  padding: 10px;
  border-bottom: 1px dotted #fff;
  background: transparent;
  border-radius: 0;
  text-align: left;
}
.menu ul li:hover .sub-menu-1 ul li:last-child {
  border-bottom: none;
}
.menu ul li:hover .sub-menu-1 ul li a:hover {
  color: #82c1db;
}
.sub-menu-2 {
  display: none;
}
.menu ul li:hover .sub-menu-2 {
  display: block;
  position: absolute;
  background: #22799e;
  margin-top: 15px;
  margin-left: 15px;
}
.menu ul li:hover .sub-menu-2 ul {
  display: block;
  margin: 10px;
}
.menu ul li:hover .sub-menu-2 ul li {
  width: 100px;
  padding: 10px;
  border-bottom: 1px dotted #fff;
  background: transparent;
  border-radius: 0;
  text-align: left;
}
.menu ul li:hover .sub-menu-2 ul li:last-child {
  border-bottom: none;
}
.menu ul li:hover .sub-menu-2 ul li a:hover {
  color: #82c1db;
}
.sub-menu-3 {
  display: none;
}
.menu ul li:hover .sub-menu-3 {
  display: block;
  position: absolute;
  background: #22799e;
  margin-top: 15px;
  margin-left: 15px;
}
.menu ul li:hover .sub-menu-3 ul {
  display: block;
  margin: 10px;
}
.menu ul li:hover .sub-menu-3 ul li {
  width: 100px;
  padding: 10px;
  border-bottom: 1px dotted #fff;
  background: transparent;
  border-radius: 0;
  text-align: left;
}
.menu ul li:hover .sub-menu-3 ul li:last-child {
  border-bottom: none;
}
.menu ul li:hover .sub-menu-3 ul li a:hover {
  color: #82c1db;
}
.sub-menu-4 {
  display: none;
}
.menu ul li:hover .sub-menu-4 {
  display: block;
  position: absolute;
  background: #22799e;
  margin-top: 15px;
  margin-left: 15px;
}
.menu ul li:hover .sub-menu-4 ul {
  display: block;
  margin: 10px;
}
.menu ul li:hover .sub-menu-4 ul li {
  width: 100px;
  padding: 10px;
  border-bottom: 1px dotted #fff;
  background: transparent;
  border-radius: 0;
  text-align: left;
}
.menu ul li:hover .sub-menu-4 ul li:last-child {
  border-bottom: none;
}
.menu ul li:hover .sub-menu-4 ul li a:hover {
  color: #82c1db;
}
.sub-menu-5 {
  display: none;
}
.menu ul li:hover .sub-menu-5 {
  display: block;
  position: absolute;
  background: #22799e;
  margin-top: 15px;
  margin-left: 15px;
}
.menu ul li:hover .sub-menu-5 ul {
  display: block;
  margin: 10px;
}
.menu ul li:hover .sub-menu-5 ul li {
  width: 100px;
  padding: 10px;
  border-bottom: 1px dotted #fff;
  background: transparent;
  border-radius: 0;
  text-align: left;
}
.menu ul li:hover .sub-menu-5 ul li:last-child {
  border-bottom: none;
}
.menu ul li:hover .sub-menu-5 ul li a:hover {
  color: #82c1db;
}
#container {
  background-color: #103d50;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1rem;
  padding-inline: 3rem;
  border-block: 3px solid white;
  border-inline: 3px solid white;
  display: grid;
  grid-template-columns: (6, 1fr);
  grid-template-rows: (6, 1fr);
}
.story {
  margin-block-start: 2rem;
  font-size: 40px;
  font-family: fantasy;
  color: white;
  grid-column: 1 / 3;
  grid-row: 1 / span 2;
}
.content {
  font-size: 20px;
  color: white;
  grid-column: 1 / 6;
  grid-row: 4 / 6;
  border-block: 0.2rem solid white;
  padding-block: 0.5rem;
}
.map {
  margin-block-start: 2rem;
  height: 500px;
  width: 550px;
  grid-column: 3/6;
  grid-row: 1/ 4;
}
#footer {
  inset-block-end: 0rem;
  text-align: center;
  color: black;
  font-weight: 2rem;
  font-size: 20px;
}
@media (max-width: 992px) {
  #header {
    width: 93.5%;
  }
  .menu {
    width: 93.5%;
    text-align: center;
  }
  .menu ul li {
    width: 100px;
    margin-inline: 5px;
    padding-inline: 15px;
  }
  .menu ul li a {
    font-family: fantasy;
    text-decoration: none;
    color: white;
  }
  .story {
    margin-block-start: 2rem;
    font-size: 20px;
    font-family: fantasy;
    color: white;
    grid-column: 1 / 3;
    grid-row: 1 / span 2;
  }
  img {
    object-fit: cover;
  }
}
@media (max-width: 768px) {
  #header {
    width: 91.5%;
  }
  .menu {
    width: 91.5%;
  }
  .menu ul li {
    width: 40px;
    margin-inline: 5px;
    padding-inline: 15px;
  }
  .menu ul li a {
    font-family: fantasy;
    text-decoration: none;
    color: white;
  }
  .story {
    font-size: 20px;
  }
  .map {
    margin-block-start: 2rem;
    height: 400px;
    width: 450px;
  }
}
@media (max-width: 576px) {
  #header {
    height: 250px;
    width: 480px;
  }
  .menu {
    width: 88.5%;
    text-align: center;
    box-sizing: border-box;
    border-block: 3px solid white;
  }
  .menu ul li {
    width: 5px;
    margin-inline: 12px;
  }
  .menu ul li a {
    font-family: fantasy;
    text-decoration: none;
    color: white;
  }
  .story {
    font-size: 12.5px;
  }
  .map {
    margin-block-start: 2rem;
    height: 170px;
    width: 220px;
  }
}
