* {
  margin: 0;
  padding: 0;
  font-family: 'Cormorant SC', serif;
}
.logo-img {
  width: 10rem;
  height: auto;
  display: block;
  margin: 0 auto;
  border-block-end: 0.1rem solid #7f0f0f;
}
.line-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1rem 0;
}
.menu-btn {
  text-decoration: none;
  cursor: pointer;
}
.list {
  list-style: none;
}
.big {
  display: none;
}
.material-symbols-outlined {
  color: rgb(201, 201, 201);
}
.home-icon {
  color: #7f0f0f;
}
.first-img {
  text-align: center;
}
.hero-img {
  width: 70%;
  height: auto;
  padding-block-end: 1rem;
  border-block-end: 0.1rem solid #7f0f0f;
}
.hero-title {
  font-weight: 700;
  line-height: 2rem;
  padding: 1rem;
  text-align: center;
}
.hero-description {
  font-family: 'Ibarra Real Nova', serif;
  font-weight: 300;
  line-height: 1.2rem;
  padding: 1rem 2rem 1rem 2rem;
  text-align: center;
}
.contact-btn {
  text-decoration: none;
  text-align: center;
  display: block;
  width: 8rem;
  margin: 0 auto;
  padding: 0.6rem 1rem 0.6rem 1rem;
  border-radius: 0.2rem;
  background-color: #7f0f0f;
  color: rgb(223, 211, 211);
  transition: 0.2s;
  cursor: pointer;
}
.contact-btn:hover {
background-color: rgb(223, 211, 211);
color: #7f0f0f;
font-weight: bold;
}
.flex-items {
  margin-block-start: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}
.img-2-home {
  width: 50%;
  height: auto;
}
.text-2-home {
  font-family: 'Ibarra Real Nova', serif;
}
.social-list {
  border-block-end: 0.1rem solid #7f0f0f;
  background-color: rgb(223, 211, 211);
  padding: 1.4rem 0 1rem 0;
  margin-block-start: 1rem;
}
.copyright {
  align-self: flex-end;
  font-size: 0.8rem;
}
footer {
  display: flex;
  padding-block: 1rem;
  justify-content: space-around;
}
.footer-btn {
  color: #000;
  text-decoration: none;
}
@media (min-width: 576px) {
  .logo-img{
   width: 12rem; 
  }
 .big {
  display: initial;
  font-size: 1.2rem;
 }
 .menu-btn {
  color: #000;
 }
 .home {
  color: #7f0f0f;
 }
 .small {
  display: none;
 }
 .hero-img {
  grid-column: 1 / 6;
 }
 .copyright {
  font-size: 1rem;
 }
}
@media (min-width: 768px) {
  .menu-btn {
    transition: 0.3s;
  }
  .menu-btn:hover {
    color: #7f0f0f;
  }
  .hero-description {
    padding: 0 2rem 1rem 2rem;
  }
  .icon {
    width: 1.4rem;
    height: 1.4rem;
  }
  .footer-btn {
    font-size: 1.2rem;
  }
  .copyright {
    font-size: 1.2rem;
  }
}
@media (min-width: 992px) {
  .menu-btn {
    font-size: 1.6rem;
  }
  .header-bar {
    display: grid;
    grid-template-columns: 1fr 3fr 4fr repeat(5, 1fr);
    gap: 1rem;
  }
  .logo-img {
    width: 16rem;
    border: none;
    padding-top: 1rem;
    z-index: 1;
  }
  .hero-img {
    width: 100%;
    z-index: -1;
    opacity: 0.8;
  }
  .first-img {
    grid-column: 1 / 9;
    grid-row: 1 / 6;
  } 
  .big {
    grid-column: 4 / 8;
    grid-row: 1 / 2;
    z-index: 1;
    padding-top: 1rem;
  }
  .logo-link {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    z-index: 1;
    transition: 0.3s;
  }
  .logo-link:hover {
    transform: scale(110%);
  }
  .menu-grid {
    grid-column: 4 / 8;
    grid-row: 1 / 2;
    z-index: 1;
  }
  .hero-title {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    z-index: 1;
  }
  .btn-text {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    z-index: 1;
  }
  .flex-items {
    grid-column: 1 / 8;
    grid-row: 7 / 10;
  }
  .img-2-home {
    width: 40%;
  }
  .social-list {
    grid-column: 1 / 9;
    grid-row: 10 / 11;
  }
  .icon:hover {
    transform: scale(120%);
  }
  .contact-btn {
    width: 12rem;
    padding: 0.6rem 0.8rem 0.6rem 0.8rem;
    font-size: 1.2rem;
    font-weight: bold;
    margin-block-start: 1rem;
  }
  .icon {
    width: 2rem;
    height: 2rem;
    transition: 0.3s;
  }
  .footer-btn {
    font-size: 1.6rem;
  }
  .copyright {
    font-size: 1.6rem;
  }
  footer {
    padding-block: 2.4rem;
  }
}