:root {
  --bg-color-logo-menu: transparent;
  --box-shadow-logo-menu: #fff;
  --position-logo-menu: absolute;
  --color-menu-item: #fff;
  --text-shadow-menu-item: #000;
  --box-shadow-submenu: 0rem 0.3rem 0.5rem 0rem #fff;
  --bg-project: url("../img-projects/i-cover.jpg");
}
@media (min-width: 900px) {
  section.intro-box {
    margin-block: 1rem 1.5rem;
    align-items: center;
  }
  p.intro-info-text {
    padding: 0rem;
  }
  section.intro-box::before {
    transform: translate(0rem, 9rem);
  }
  h1.intro-title {
    transform: translate(0rem, -10rem);
  }
  div.intro-info-box {
    transform: translate(0rem, 2rem);
  }
}
@media (min-width: 1400px) {
  section.intro-box {
    margin-block: 1rem 1.5rem;
    align-items: center;
  }
  p.intro-info-text {
    padding: 0rem;
  }
  section.intro-box::before {
    transform: translate(0rem, 11.5rem);
  }
  h1.intro-title {
    transform: translate(0rem, -13rem);
  }
  div.intro-info-box {
    transform: translate(0rem, 3rem);
  }
}
