:root {
  --bg-color-logo-menu: transparent;
  --box-shadow-logo-menu: #fff;
  --position-logo-menu: absolute;
  --color-menu-item: #fff;
  --text-shadow-menu-item: #000;
  --box-shadow-submenu: 0rem 0.3rem 0.5rem 0rem #fff;
  --bg-project: url("../img-projects/h-cover.jpg");
}
