* {
  margin: 0;
  padding: 0;
  font-family: "Cormorant SC", serif;
}
#go-back {
  position: fixed;
  top: 20px;
  left: 30px;
  z-index: 99;
  font-size: 2rem;
  border: none;
  background-color: #7f0f0f;
  color: white;
  cursor: pointer;
  padding: 0.2rem 0.5rem;
  border-radius: 50%;
}
#go-back:hover {
  background-color: rgb(223, 211, 211);
  color: #7f0f0f;
}
#top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #7f0f0f;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
}
#top-btn:hover {
  background-color: rgb(223, 211, 211);
  color: #7f0f0f;
}

.logo-img {
  width: 10rem;
  height: auto;
  display: block;
  margin: 0 auto;
  border-block-end: 0.1rem solid #7f0f0f;
}
.line-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1rem 0;
}
.menu-btn {
  text-decoration: none;
  cursor: pointer;
}
.list {
  list-style: none;
}
.big {
  display: none;
}
.material-symbols-outlined {
  color: rgb(201, 201, 201);
}
.contact-icon {
  color: #7f0f0f;
}
.subtitle {
  text-align: center;
}
.contact-grid {
  display: grid;
  padding: 2rem;
  gap: 1rem;
}
.address {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  font-size: 1.2rem;
  width: 9rem;
  justify-self: center;
}
.address-email,
.phone {
  font-size: 0.8rem;
  border-block-end: 0.1rem solid #7f0f0f;
}

.address a {
  text-decoration: none;
  color: #000;
}
.map {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  width: 100%;
  height: 50vw;
}
.form {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}
.email-label {
  align-self: center;
}
.email {
  align-self: center;
  width: 9rem;
}
.submit {
  width: 4rem;
  align-self: center;
}
.social-list {
  border-block-end: 0.1rem solid #7f0f0f;
  background-color: rgb(223, 211, 211);
  padding: 1.4rem 0 1rem 0;
  margin-block-start: 1rem;
}
.copyright {
  align-self: flex-end;
  font-size: 0.8rem;
}
footer {
  display: flex;
  padding-block: 1rem;
  justify-content: space-around;
}
.footer-btn {
  color: #000;
  text-decoration: none;
}
.footer-btn:hover {
  border-block-end: 0.1rem solid #7f0f0f;
}
.footer-menu {
  color: #000;
}
@media (min-width: 576px) {
  .logo-img {
    width: 12rem;
  }
  .big {
    display: initial;
    font-size: 1.2rem;
  }
  .menu-btn {
    color: #000;
  }
  .contact {
    color: #7f0f0f;
  }
  .small {
    display: none;
  }
  .address {
    grid-row: inherit;
    grid-column: inherit;
    align-self: center;
  }
  .address-email,
  .phone {
    font-size: 1.2rem;
  }
  .map {
    width: 80%;
    height: 60vw;
    justify-self: center;
    grid-row: 1 / 4;
    grid-column: 2 / 3;
  }
  .form {
    grid-row: inherit;
    grid-column: inherit;
    align-self: center;
  }
  .copyright {
    font-size: 1rem;
  }
}
@media (min-width: 768px) {
  .menu-btn {
    transition: 0.3s;
  }
  .address {
    justify-self: flex-start;
  }
  .menu-btn:hover {
    color: #7f0f0f;
  }
  .email-label {
    align-self: flex-start;
    font-size: 1.6rem;
  }
  .email {
    align-self: flex-start;
    width: 12rem;
  }
  .submit {
    width: 5rem;
    align-self: flex-start;
  }
  .footer-btn {
    font-size: 1.2rem;
  }
  .copyright {
    font-size: 1.2rem;
  }
}
@media (min-width: 992px) {
  .logo-img {
    width: 16rem;
  }
  .logo-img {
    transition: 0.3s;
  }
  .logo-img:hover {
    transform: scale(110%);
    border-color: transparent;
  }
  .menu-btn {
    font-size: 1.8rem;
  }
  .subtitle {
    font-size: 2.2rem;
    padding-block: 1.4rem;
  }
  .contact-grid {
    justify-content: space-around;
  }
  .address {
    width: 12rem;
  }
  .address-email,
  .phone {
    font-size: 2rem;
  }
  .email-label {
    font-size: 2rem;
  }
  .email {
    width: 20rem;
    height: 2rem;
    font-size: 1.2rem;
  }
  .submit {
    width: 7rem;
    height: 2rem;
    font-size: 1.2rem;
  }
  .log {
    font-size: 1.6rem;
  }
  .map {
    width: 40rem;
    height: 40rem;
  }
  .icon {
    width: 2rem;
    height: 2rem;
    transition: 0.3s;
  }
  .icon:hover {
    transform: scale(120%);
  }
  .footer-btn {
    font-size: 1.6rem;
  }
  .copyright {
    font-size: 1.6rem;
  }
  footer {
    padding-block: 2.4rem;
  }
}
